{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macroses/_books.html' as books_ren %}

{% block title %}Elibrary{% endblock %}

{% block page_content %}
        {% for book in books %}
            <div class="book">
            	<div id="book_img"> 
                	<img src = {{book.img_url}}/>
                </div>
                <div id='book_info'>
                <ul>
                	<li><strong>NAME: </strong>{{ book.name|title}}</li>
               		<li><strong>YEAR: </strong>{{ book.year}}</li>
               		<li><strong>AUTHOR: </strong>
               			{% for author in book.authors %}
               			{{author.name}}, 
               			{% endfor %}
               		</li>
                	<li><strong>DESCRIPTION: </strong>{{ book.description}}</li>
                  {% if current_user.is_authenticated %}
                      {% if book in current_user.books %}
                      <li>{{ wtf.quick_form(form2) }}</li>
                      {% else %}
                      <li>{{ wtf.quick_form(form) }}</li>
                      {% endif %}
                      {% if current_user.can(Permission.MODERATE_BOOKS) %}
                      <li><a class="btn btn-danger" href="{{ url_for('.edit_book_admin', id=book.id)}}">Moderate Book[Moderator]</a></li>
                      <li><a class="btn btn-danger" href="{{ url_for('.delete_book_admin', id=book.id)}}">Delete Book[Moderator]</a></li>
                      {% endif %}
                  {% endif %}
                </ul>
                </div>
        {% endfor %}
{% endblock %}
